<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12">
    <div class="card-body">
        <div class="content">
            <div class="card-header">
                <div class="card-title">免责声明</div>
                <div class="card-category">请认真阅读免责声明，以免使用过程中造成不必要的麻烦</div>
            </div>
        </div>
        <div class="card-body">
            <h4 class="text-danger">本工具仅限于安全研究与教学使用，用户使用本工具所造成的所有后果，由用户承担全部法律及连带责任！作者不承担任何法律及连带责任。</>
            <h4 class="text-danger">当您使用本工具起，默认同意了此协议，如果您不同意此协议，请删除本工具以及连带的数据库文件。</h4>
            <h4 class="text-secondary">
                0. 没有授权的渗透属于违法行为。
            </h4>
            <h4 class="text-secondary">
                1. 使用者必须具备法律基础和网络基础，没有授权的渗透均为非法入侵。
            </h4>
            <h4 class="text-secondary">
                2. 使用者必须心智成熟，拥有明辨是非能力，如果因为使用者个人造成的法律责任，本工具作者不承担任何责任。
            </h4>
            <h4 class="text-secondary">
                3. 本系统为本人的毕业设计，由于开发经验不足，安全性不能保障（世界上没有绝对安全的系统），因此数据信息的泄露造成的一切后果与作者本人没有任何关系。
            </h4>
            <h4 class="text-secondary">
                4. 由于用户将个人密码告知他人或与他人共享注册账户，由此导致的任何信息泄露，本网站不负任何责任。
            </h4>
            <h4 class="text-secondary">
                5. 本工具包含破解模块，仅用于局域网设备的安全审查，它用造成的一切后果作者不承担一切责任。
            </h4>
            <h4 class="text-secondary">
                6. 任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营的不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等，本网站均得免责。
            </h4>
            <h4 class="text-secondary">
                7. 本网站之声明以及其修改权、更新权及最终解释权均属所有。
            </h4>
            <h4 class="text-secondary">
                8. 本项目目前属于试运营阶段，请合法使用，本工具虽提供具有攻击性的功能，但是用于企业内部网络的安全审查，如果对外网进行操作，后果自负，与作者本人没有任何关系。
            </h4>
        </div>
    </div>
</div>

</body>
</html>