<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="row justify-content-center align-items-center mb-1">
    <div class="card card-pricing col-12 col-md-3">
        <div class="card-header">
            <h4 class="card-title">QQ</h4>
            <div class="card-price">
                <h5>一分也是爱，感谢您的支持</h5>
            </div>
        </div>
        <div class="card-body">
            <img style="width:382px;height:595px;" src="{% static 'imgs/donate/qq.png'%}" alt="qq"
                 class="navbar-brand">
            <div class="card-footer">
                <h4 class="card-title">请备注您的姓名或联系方式呦</h4>
            </div>
        </div>
    </div>

    <div class="card card-pricing col-12 col-md-3">
        <div class="card-header">
            <h4 class="card-title">AliPay</h4>
            <div class="card-price">
                <h5>您的支持是我最大的动力</h5>
            </div>
        </div>
        <div class="card-body">
            <img style="width:382px;height:595px;" src="{% static 'imgs/donate/alipay.jpg'%}" alt="alipay"
                 class="navbar-brand">
        </div>

        <div class="card-footer">
            <h4 class="card-title">请备注您的姓名或联系方式呦</h4>
        </div>
    </div>

    <div class="card card-pricing col-12 col-md-3">
        <div class="card-header">
            <h4 class="card-title">WeChat</h4>
            <div class="card-price">
                <h5>感谢您的关注与支持！</h5>
            </div>
        </div>
        <div class="card-body">
            <img style="width:382px;height:595px;" src="{% static 'imgs/donate/wechat.png'%}" alt="wechat"
                 class="navbar-brand">

            <div class="card-footer">
                <h4 class="card-title">请备注您的姓名或联系方式呦</h4>
            </div>
        </div>
    </div>

</div>


</body>
</html>